body { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ---navigation--*/

header {
    width: 100%;
        
}
.navbar {
    background-color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 16px;
}
.nav-list {
    list-style-type: none;
    justify-self: start;
    
}
.nav-list .list-item { 
    display: inline-block;
    padding: 16px 9.6px;
    justify-self: flex-start;
   
} 
.navbar a {
    color: #353029;
    text-decoration: none;
    padding: 16px 9.6px;
}
.navbar a:hover {
    color: yellow;

}
.logo { 
    height: 60px;
    justify-self: center;
    
}
.btnColor a{
    display: inline-block;
    text-decoration: none;
    width: 100px;
    height: 25px;
    line-height: 22px;
    text-align: center;
    background-color: #43810D;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 120px;
    padding: 8px 16px;
    margin: 16px 16px 16px 0px;
}

/* --flex-conatiner--*/

main { 
    width: 100%;
    height: 1300px;
    background-color: white;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: baseline
    
}
.flex-container > div img{
    background-color: lawngreen;
    width: 80%;
    margin: 14px;
}

.flex-container > div {
    background-color: lawngreen;
    width: 80%;
    margin: 7px;
}

.flex-container > div p {
    background-color: rgb(0, 17, 252);
    font-size: 16px;
    width: 80%;
    margin: 0 0 0 16px;
    

}
.flex-container > div .pc{
    background-color: rgb(252, 0, 55);
    text-align: center;
    
}
.flex-container > div h4{
    background-color: rgb(252, 143, 0);
    font-size: 24px;
    margin: 0 0 0 16px;
   
    
} 
.flex-container > div .h4c{
    background-color: rgb(252, 0, 210);
    text-align: center;
    font-size: 24px;
    
    
}

footer {
    width: 100%;
    height: 300px;
    background-color: grey;
}